body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 67, 248);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
}
